[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
wheel = ">=0.33"

[packages]
jieba = ">=0.42.1"

[scripts]
test = "bash -c \"mkdir -p reports"
build = "python setup.py bdist_wheel"